<h2>Services</h2>

<table>
	<% @services.each do |service| %>
		<tr>
			<td><%= link_to service.name, service %></td>
			<td><%= link_to "Edit", edit_service_path(service) %></td>
			<td><%= link_to "Delete", service, :method => :delete, :confirm => "Please confirm deletion:",
																			:title => "Delete #{service.name}" %></td>
		</tr>
	<% end %>
</table>

<%= render 'new' %>