<h2>User Profile</h2>

<p>User Name: <%= @profile.name %></p>
<p>First Name: <%= @profile.first_name %></p>
<p>Last Name: <%= @profile.last_name%></p>

<p><%= link_to "Edit", edit_profile_path %></p>
