<tr>
  <td></td>
  <td><%= program != nil ? link_to(program.code, program_deals_path(program.id)) : nil %></td>
  <td><%= program.start_date != nil ? program.start_date.to_s(:just_date) : nil%></td>
  <td><%= program.end_date != nil ? program.end_date.to_s(:just_date) : nil%></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>  
  <%= render program.deals %>  
</tr>
