.container {
	/* margin: 0 auto; */
	position: fixed;
	top:			0;
	left:			0;
  width: 		100%;
}

.right_column {
	background-color:	#B4CDCD; /* lightcyan3 */
	float:						right;
	width:						90%;
	clear:						right;
	/*overflow:					scroll;*/
}

.left_column {
	width:						auto;
	background-color: #E0FFFF; /* lightcyan1 */
	float: 						left;
	width: 						10%;
	clear: 						both;
	/* padding:					0 10px;*/
	font-size:				100%;
	font-family:			arial;
}

.grd_css{
	width: 100%;
  background-color: #B4CDCD;
  height: 20px;
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#B4CDCD), to(#D1EEEE));
  /* For Mozilla/Gecko (Firefox etc) */
  background:  -moz-linear-gradient(top , #B4CDCD, #D1EEEE);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#B4CDCD, endColorstr=#D1EEEE, GradientType=0);
  /* For Internet Explorer 8 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#B4CDCD, endColorstr=#D1EEEE);
}

body {
	background: #D1EEEE; /* lightcyan2 */
}

header {
	top: 0;
	width: 100%;
}

header img {
	float: left;
	padding: 10px;
}

section {
  /* margin-top: 1em; */
  font-size: 120%;
  /*padding: 10px;*/
  background: #fff;
}

section h1 {
  font-size: 200%;
}

footer {
  text-align: center;
  margin-top: 10px; 
  margin-left: auto;
  margin-right: auto;
	width: 100%;
	clear: both;
}

footer ul li {
	list-style-type: none;
  display: inline-block;
	padding: 0.2em 0;
	float: none;
}

footer ul li a {
	padding: 0 5px;
	font-size: small;
}

/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}

/* Navigation */

nav {
	background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
	float: right;
  padding: 5px;
	font-family: arial;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
	padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}