

/*Gradients*/

.grd_css{
	width: 100%;
  background-color: #B4CDCD;
	border-top-color: white;
	border-top-width: 1px;
	border-top-style: solid;
  height: 30px;
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#E7F3ED), to(#B4CDCD));
  /* For Mozilla/Gecko (Firefox etc) */
  background:  -moz-linear-gradient(top , #E7F3ED, #B4CDCD);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E7F3ED, endColorstr=#B4CDCD, GradientType=0);
  /* For Internet Explorer 8 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E7F3ED, endColorstr=#B4CDCD);
}



.box-50{width:50px;height:1.2em;float:left;}
.box-60{width:60px;height:1.2em;float:left;}
.box-70{width:70px;height:1.2em;float:left;}
.box-80{width:80px;height:1.2em;float:left;}
.box-90{width:90px;height:1.2em;float:left;}
.box-100{width:100px;height:1.2em;float:left;}
.box-110{width:110px;height:1.2em;float:left;}
.box-120{width:120px;height:1.2em;float:left;}
.box-130{width:130px;height:1.2em;float:left;}
.box-140{width:140px;height:1.2em;float:left;}
.box-150{width:150px;height:1.2em;float:left;}
.box-160{width:160px;height:1.2em;float:left;}
.box-170{width:170px;height:1.2em;float:left;}
.box-180{width:180px;height:1.2em;float:left;}
.box-190{width:190px;height:1.2em;float:left;}
.box-200{width:200px;height:1.2em;float:left;}


.vert_margin_10{margin-top:10px;margin-bottom:10px;}

.f-50{width:50px;}
.f-60{width:60px;}
.f-70{width:70px;}
.f-80{width:80px;}
.f-90{width:90px;}
.f-100{width:100px;}
.f-110{width:110px;}
.f-120{width:120px;}
.f-130{width:130px;}
.f-140{width:140px;}
.f-150{width:150px;}
