/* 
    Document   : table_elements
    Created on : Oct 8, 2011, 1:05:11 PM
    Author     : ctuttle
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

table {
	border-collapse:		collapse;
}

th, td {
	border-width:				1px;
	border-style:				solid;
	border-color:				#5c9ccc;	
	color:							#005C5C;
	height:							1.25em;
	padding-left: 			2px;
	padding-right:			1em;
}

tr:nth-child(odd) {
background-color: #DBFFDB;
}

tr:nth-child(even) {
background-color: #F9FFF9;
}

th {
	font-weight:	bold;
	color:				#06c;
}

.number_field {
	width:	100px;
}

.date_field {
	padding-right:	0;
	width:	100px;
}

.text_field {
	padding-right: 15px;
}

.file_import_table {
	width: 200px;
}

tr.row-header:nth-child(odd)  {
	background-color: #CCEBD6;
}

tr.no-greenbars:nth-child(odd)  {
	background-color: #EFF8F3;
}

tr.no-greenbars:nth-child(even)  {
	background-color: #EFF8F3;
}