<h2>Edit Group</h2>

<%= form_for(@group) do |f| %>
	<div class="field">
		<%= f.label :name, "Edit Group", :class => "field_label" %><br />
		<%= f.text_field :name %>
	</div>
	<div class="actions">
		<%= f.submit "Update" %>
	</div>
<% end %>