<tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><%= deal_product != nil ? deal_product.product.code : nil %></td>
    <td></td>
    <%= render deal_product.deal_activities %>
  </tr>
