<tr>
    <td><%= deal_activity != nil ? deal_activity.deal_product.deal.program.seller.name : nil %></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><%= deal_activity != nil ? deal_activity.activity.code : nil %></td>
  </tr>
