
  <tr>
    <td></td>
    <td><%#= deal.program != nil ? deal.program.code : nil %></td>
    <td><%#= deal.program.start_date != nil ? deal.program.start_date.to_s(:just_date) : nil%></td>
    <td><%#= deal.program.end_date != nil ? deal.program.end_date.to_s(:just_date) : nil%></td>
    <td><%= deal != nil ? deal.id : nil %></td>
    <td><%= deal.customer != nil ? deal.customer.name : nil %></td>
    <td></td>
    <td></td>
  </tr>
