
  <tr>
    <td><%= deal != nil ? deal.program.seller.name : nil %></td>
    <td></td>
    <td></td>
    <td></td>
    <td><%= deal != nil ? deal.id : nil %></td>
    <td><%= deal.customer != nil ? deal.customer.name : nil %></td>
    <td></td>
    <td></td>
    <%= render deal.deal_products %>
  </tr>
