<tr>
  <%= form_for(@map) do |f| %>
    <div class="field">
      <td></td>
      <td><%= f.text_field :code %></td>
      <td><%= collection_select(:import_map, :model_name, ImportMap::MODELS.sort, :to_s, :titleize) %></td>
    </div>
    <div class="actions">
      <td><%= f.submit "Submit" %></td>
    </div>
      <td></td>
      <td></td>
      <td></td>
  <% end %>
<tr/>