<h2>Roles</h2>

<table>
	<% @roles.each do |role| %>
		<tr>
			<td><%= link_to role.name, role %></td>
			<td><%= link_to "Edit", edit_role_path(role) %></td>
			<td><%= link_to "Delete", role, :method => :delete, :confirm => "Please confirm deletion:",
																			:title => "Delete #{role.name}" %></td>
		</tr>
	<% end %>
</table>

<%= render 'new' %>