<p>Add New Category</p>
<table>
	<tr>
		<%= form_for(@category) do |f| %>
			<div class="field">
				<td>
					<%= f.text_field :code %>
				</td>
				<td>
					<%= f.text_field :name %>
				</td>
			</div>
			<div class="actions">
				<td>
					<%= f.submit "Submit" %>
				</td>
			</div>
			<td></td>
		<% end %>
	<tr/>
</table>