<%= render :partial => "shared/show", :locals => { :object => @category } %>
	
	<div>
		<p><%= link_to "Edit", edit_category_path(@category) %></p>
		<p><%= link_to "Delete", @category, :method => :delete, :confirm => "Please confirm deletion:",
																						:title => "Delete #{@category.name}" %></P>
		<p><%= link_to "Back", :back %></p>
	</div>																		