<h2>Activities</h2>

<table>
	<% @activities.each do |activity| %>
		<tr>
			<td><%= link_to activity.name, activity %></td>
			<td><%= link_to "Edit", edit_activity_path(activity) %></td>
			<td><%= link_to "Delete", activity, :method => :delete, :confirm => "Please confirm deletion:",
																			:title => "Delete #{activity.name}" %></td>
		</tr>
	<% end %>
</table>

<%= render 'new' %>