
	
	
		<h2>Activities</h2>
		<%= jqgrid("Activities", "activities", "/activities",
			[
				{ :field => "id", :label => "ID", :width => 35, :resizable => false },
				{ :field => "name", :label => "Name" }				
			]
		) %>
	
