<h2><%=  @title %></h2>
<h4>Plan: <%= @plan.code %></h4>

<table class ="no-greenbars">
  <tr class="row-header">
    <th>Rep</th>
    <th>Customer</th>
    <th>Program</th>
    <th>Program Start</th>
    <th>Program End</th>
    <th>Deal</th>
    <th>Product</th>
    <th>Activity</th>
  </tr>

  
  <% @programs.each do |p| %>
  <tr>                
    <%= render "fields_1", { :p => p } %>
  </tr>              
  <% end %>
 
  
</table>