<header id="home_header">
	<%= link_to logo, root_path, :id => "home_img" %>
	<nav>	
		<ul class="hmenu">
			<%= render 'devise/menu/registration_items' %>
			<%= render 'devise/menu/login_items' %>
			<% flash.each do |key, msg| %>
				<%= content_tag(:div, msg, :id => "flash_#{key}") %>
			<% end %>
		</ul>
	</nav>	
</header>
